<article class="article">
  <a href="<%= "/blog/#{article.id}" %>">
    <h2 class="article-title"><%= article.title %></h2>
  </a>
  <div class="article-metadata">
    By <span class="article-author"><%= article.author %></span>
  </div>
  <div class="article-figure">
    <img class="article-image" src="<%= article.img_url %>" alt="drihu open blog">
  </div>
  <div class="article-text"><%= article.text %></div>
</article>
